    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2 text-center">
                <p style="margin-top: 40px;"><a href="walnutfarm.org"><img src="{{ "img/walnut-farm-logo.png" | absolute_url }}" class="img-responsive" alt=""></a></p>
            </div>
            <div class="col-md-4 text-center">
                <p><img src="{{ "img/walnut-farm-25-years.jpg" | absolute_url }}" class="img-responsive" alt=""></p>
            </div>
        </div>
    </div>