<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/main-logo.png" class="img-responsive" style="width: 45%; margin: 0 auto;" alt="Main Logo">
            <h1>Benefiting Walnut Farm Montessori School</h1>
            <hr>
            <p>Bella Vista Country Club Golf Course<br />
            98 Clubhouse Drive<br />
			Bella Vista, AR. </p>
            <a href="https://squareup.com/store/walnut-farm-montessori-school-inc" class="btn btn-primary btn-xl page-scroll">Register Now</a>
        </div>
    </div>
</header>
