<section class="bg-primary" id="about">
    <div class="container">
        <div class="row flat">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <ul class="plan plan1">
                    <li class="plan-name">
                        Sponsorship Opportunities
                    </li>
                    <li class="plan-price">
                        <strong>Be a Premiere Sponsor</strong>
                    </li>
                    <li>
                        <strong>Hole Sponsors</strong>
                    </li>
                    <li>
                        <strong>Swag Sponsors</strong>
                    </li>
                    <li class="plan-action">
                        <a href="store.clubsandcrawfish.com" class="btn btn-danger btn-lg">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <ul class="plan plan2 featured">
                    <li class="plan-name">
                        Golfer Registration
                    </li>
                    <li class="plan-price">
                        <strong>Team and Individual Registration</strong>
                    </li>
                    <li>
                        <strong>Includes Dinner Ticket</strong>
                    </li>
                    <li>
                        <strong>Swag Bag</strong>
                    </li>
                    <li class="plan-action">
                        <a href="store.clubsandcrawfish.com" class="btn btn-danger btn-lg">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <ul class="plan plan3">
                    <li class="plan-name">
                        Dinner Ticket
                    </li>
                    <li class="plan-price">
                        <strong>Family and Children Tickets</strong>
                    </li>
                    <li>
                        <strong>Includes Boil Ticket</strong>
                    </li>
                    <li>
                        <strong>Starts at 6pm</strong>
                    </li>
                    <li class="plan-action">
                        <a href="store.clubsandcrawfish.com" class="btn btn-danger btn-lg">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /container -->
    </div>
</section>
