<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  
	<section id="page-content">
	    <div class="container">
	        <div class="row">
	        	{% if page.image %}
		       	<div class="col-md-8">
	                {{ content }}
	            </div>
	            <div class="col-md-4">
	            	<img src="{{ page.image }}" alt="image" class="img-responsive">
	        	</div>
	        	{% else %}
	            <div class="col-xs-12">
	                {{ content }}
	            </div>
	            {% endif %}
	        </div>
	    </div>
	</section>

  {% include sign-up.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>